@font-face {
	font-family: "B612";
	src: url("B612.ttf")
}

body {
	background-color: #131418;
	font-family: "B612";
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	line-height: 1.30;
}

.main{
	color: #EAEAEA;
	font-size: 20px;
}

.blog {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.dir{
	color: #EAEAEA;
	font-size: 20px;
}

.headers{
	color: #EAEAEA; 
	font-weight: bold;
}

.element{
	color: #C3C6Cf;
	display: inline-block; 
	font-weight: bold; 
	position: absolute; 
	left: 16em;
}

.element12{
	color: #C3C6CF;
	display: inline-block; 
	font-weight: bold; 
	position: absolute; 
	left: 12em;
}

code {
	border-radius: 0.3em;
	background-color: #101111;
	color: #54A4AD; 
}

hr {
	margin: 30px 0;
}

a {
	color: #54A4FD; 
}

a:visited {
	color: #54A4FD; 
}

a:hover {
	color: #77B5FF;
}

h2 {
	color: white;
	margin-bottom: 0px;
}

h3 {
	color: white;
	margin-bottom: 10px;
}

button {
	background-color: black;
	color: white;
	transition-duration: 0.5s;
}

button:hover {
	background-color: white;
	color: black;
	transition: 0.5s;
	cursor: pointer;
}

button:active {
	background-colour: lime;
}
